.main {
    text-align: center;
    margin: auto;
    position: relative;
    transform: translateY(+100%);
}

[type="text"] {
    width: 60%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}