.main {
    text-align: center;
    margin: auto;
    position: relative;
    top: 20%;
}

html, body {
    height: 100%;
    width: 100%;
    position: absolute;
}

[type="text"] {
    width: 60%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px grey;
}

[type="text"]:hover {
    box-shadow: 5px 5px 5px grey;
}

button {
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}

a {
    text-decoration: none;
    color: rgb(112, 108, 108);
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0;
}

li {
    display: inline;
    margin: 0.3rem;
    font-size: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#appsIcon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    top: 0.4rem;
}

#logo {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.footer {
    position: relative;
    top: 63%;
    margin-bottom: 1rem;
    background-color: rgb(236, 230, 230);
    overflow: auto;
}